{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Management System</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">
            <div class="header-left">
                <h3>Management System</h3>
            </div>
        </div>
        <!-- /Header -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{% url 'manager-main' %}" class="btn btn-primary mb-3">◄ Back</a>
                            <div>
                                <p></p>
                            </div>
                            <div class="page-sub-header">
                                <h3 class="page-title">Manage Categories & Activities</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card card-table comman-shadow">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table
                                        class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                                        <thead class="student-thread">
                                            <tr>
                                                <th style="background: #d7d7d1;">
                                                    <div class="form-check check-tables">
                                                        <input class="form-check-input" type="checkbox"
                                                            value="something">
                                                    </div>
                                                </th>
                                                <th style="background: #d7d7d1;">Category</th>
                                                <th style="background: #d7d7d1;">Activity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% csrf_token %}
                                            {% for category, activities in category_activity_tuples %}
                                            <tr data-id="{{ category.id }}">
                                                <td>
                                                    <div class="form-check check-tables">
                                                        <input class="form-check-input" type="checkbox"
                                                            name="selected-cat[]" value="{{ category.id }}">
                                                    </div>
                                                </td>
                                                <td>{{ category.name }}</td>
                                                <td>
                                                    <ul>
                                                        {% for activity in activities %}
                                                        <li>{{ activity.name }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-sm-3">
                        <div class="student-submit">
                            <a class="btn btn-primary" href="{% url 'manager-addcat' %}"><b>+</b> Add
                                New Category</a>
                        </div>
                    </div>
                    <div class="col-8 col-sm-3">
                        <div class="student-submit">
                            <a class="btn btn-primary" href="{% url 'manager-addact' %}"><b>+</b> Add
                                New Activity</a>
                        </div>
                    </div>
                    <div class="col-8 col-sm-3">
                        <div class="student-submit">
                        </div>
                    </div>
                    <div class="col-8 col-sm-3">
                        <div class="student-submit" style="display: flex; justify-content: end;">
                            <button type="submit" class="btn btn-primary btn_delete" id="delete_btn">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->


    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Ajax for item deletion -->
    <script>
        $(document).ready(function () {
            $('#delete_btn').click(function () {
                if (confirm("Are you sure you want to delete the selected items ?")) {
                    var id = [];
                    var csrf = $('input[name=csrfmiddlewaretoken]').val()
                    $(':checkbox:checked').each(function (i) {
                        id[i] = $(this).val()
                    })
                    if (id.length === 0) {
                        alert("No items selected !!")
                    }
                    else {
                        console.log(id)
                        $.ajax({
                            url: '{% url "manager-deletecatact" %}',
                            method: "POST",
                            headers: { "X-CSRFToken": "{{ csrf_token }}" },
                            data: {
                                'id[]': id,
                            },
                            success: function (response) {
                                for (var i = 0; i < id.length; i++) {
                                    $('tr#' + id[i] + '').css('background-color', '#ccc');
                                    $('tr#' + id[i] + '').fadeOut('slow');
                                    $('tr[data-id="' + id[i] + '"]').remove();
                                }
                            }
                        })
                    }
                }
            })
        })
    </script>

</body>

</html>