{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Management System</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&amp;display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>

<body>

    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">

            <div class="header-left">
                <h3>Management System</h3>
            </div>

        </div>
        <!-- End Header -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="card">
                    <a href="{% url 'counselor-checkstudents' %}" class="btn btn-primary mb-3">◄ Back</a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="about-info">
                                    <h3>Basic Information</h3>
                                </div>
                                <div class="student-profile-head">
                                    <div class="row" style="background: #eaeaea;">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="profile-user-box">
                                                <div class="names-profiles">
                                                    <h5>Name</h5>
                                                    <h4>{{ students.user.name }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-group">
                                                <div class="students-follows">
                                                    <h5>Grade</h5>
                                                    <h3>{{ students.grade }}</h3>
                                                </div>
                                                <div class="students-follows">
                                                    <h5>University</h5>
                                                    <h3>{{ students.university.name }}</h3>
                                                </div>
                                                <div class="students-follows">
                                                    <h5>Major</h5>
                                                    <h3>{{ students.major.name }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="card card-table comman-shadow">
                                    <div class="card-body">

                                        <div class="page-header">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h3 class="page-title">Existing Activities</h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table
                                                class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                                                <thead class="student-thread">
                                                    <tr>
                                                        <th style="background: #d7d7d1;">Category</th>
                                                        <th style="background: #d7d7d1;">Activity</th>
                                                        <th style="background: #d7d7d1;">Start Date</th>
                                                        <th style="background: #d7d7d1;">End Date</th>
                                                        <th style="background: #d7d7d1;">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr>
                                                        <td>{{ student.category.name }}</td>
                                                        <td>{{ student.activity }}</td>
                                                        <td>{{ student.start_date }}</td>
                                                        <td>{{ student.end_date }}</td>
                                                        <td>{{ student.description }}</td>
                                                    </tr> -->
                                                    <tr>
                                                        <td>{{ students.category.name }}</td>
                                                        <td>
                                                            {% for activity in students.activity.all %}
                                                            {{ activity.name }}{% if not forloop.last %}, {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>{{ students.start_date }}</td>
                                                        <td>{{ students.end_date }}</td>
                                                        <td>{{ students.description }}</td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <td>A</td>
                                                        <td>Aa</td>
                                                        <td>2 Feb 2002</td>
                                                        <td>2 Feb 2002</td>
                                                        <td>911 Deer Ridge Drive,USA</td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->

</body>

</html>